header {
    text-align: center;
    font-family: neue-haas-unica, sans-serif;
    background-color: #575757;
    margin: 0;
    padding: 20px 0; 
}

h1 {
    color: white;
    font-size: 50px;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #333;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 50px;
}

body {
    background-color: rgb(231, 224, 225);
    font-family: Arial, sans-serif;
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

main {
    text-align: center;
}

.text-container {
    margin-top: 5%;
    margin-right: 40%; /* Space below the container */
}

.area-map img {
    height: 500px;           /* Adjusted size for a better layout */
    width: 500px;            /* Maintain aspect ratio */
    border-radius: 50%;      /* Make the image circular */
    border: 10px solid white; /* White border around the image */
}
.area-map img:hover{
    background-color: #575757;
    border-radius: 50px;
}

p {
    font-size: large;         /* Font size for the paragraph */
    padding: 10px;           /* Space inside the paragraph */
    margin: 10px 0;          /* Space outside the paragraph */
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    font-family: neue-haas-unica, sans-serif;
    margin-top: 50%;
    padding: 10px 0;
}

